[Unit]
Description=Codius Host Software
After=network.target nss-lookup.target
Wants=hyperd.service

[Service]
ExecStart=/usr/bin/npm start
Environment="DEBUG=*,-follow-redirects,-*:trace"
Environment=CODIUS_PUBLIC_URI=https://%H
WorkingDirectory=/usr/lib/codiusd
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=codiusd
User=root
Group=root

[Install]
WantedBy=multi-user.target

